@{
    Layout = "~/Views/Shared/_FormGray.cshtml";
}

@inject Microsoft.AspNetCore.Hosting.IWebHostEnvironment HostingEnvironment
@section header{
    @BundlerHelper.Render(HostingEnvironment.ContentRootPath, Url.Content("~/lib/fileinput/5.0.3/css/fileinput.min.css"))
    @BundlerHelper.Render(HostingEnvironment.ContentRootPath, Url.Content("~/lib/fileinput/5.0.3/js/fileinput.min.js"))
}

<div class="wrapper wrapper-content animated fadeIn">
    <div class="row">
        <div class="col-lg-10">
            <div class="ibox">
                <div class="ibox-title">
                    <h5>QA数据导入 </h5>
                </div>
                <div class="ibox-content">
                    <div class="row">
                        <div class="col-sm-offset-0">
                            <div class="panel panel-success">
                                <div class="panel-heading">
                                    <i class="fa fa-info-circle"></i> Excel数据导入
                                </div>
                                <div class="panel-body">
                                    <form id="form" method="post" enctype="multipart/form-data" asp-action="Import">
                                        <div class="input-group">
                                            <input id="file_url" name="excelfile" type="file" class="form-control" placeholder="请选择文件">
                                            <span class="input-group-btn">
                                                <button class="btn btn-info" type="submit">导入</button>
                                            </span>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
     </div>
</div>

<script type="text/javascript">
    $(function () {
        if ('@ViewData["upResult"]'=='成功') {
            ys.msgSuccess('成功');
        }
        else if ('@ViewData["upResult"]'.length == 0) {

        }
        else {
            ys.msgError('@ViewData["upResult"]');
        }
    });


</script>
